{% extends "base_site.html" %}
{% block title %}Benchmarks{% endblock %}

{% block head %}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.flot.min.js"></script>
{% endblock %}
	  
{% block content %}
		<h2>Comparison: {{ comparison.name }}</h2>
		<img src="benchmark.png" style="width:100%;" ismap usemap="#points" alt="Model compare graph" />
		
		<table class="benchmarks">
			<tr>
				<th id="modelsort" class="sort">Model</th>
				<th id="statessort" class="sort">States</th>
				<th id="runtimesort" class="sort">Runtime</th>
				<th id="memorysort" class="sort">Memory (RSS)</th>
				<th id="finishedsort" class="sort">Finished</th>
			</tr>
			
			{% for b in benches %}
				<tr>
					<td>{{ b.model }}</td>
					<td>{{ b.states_count }}</td>
					<td>{{ b.elapsed_time|floatformat:3 }}</td>
					<td>{{ b.memory_RSS }}</td>
					<td>{{ b.finished|yesno:"yes,no,maybe" }}</td>
				</tr>
			{% empty %}
			<tr>
				<td colspan="5">Result set is empty.</td>
			</tr>
			{% endfor %}
		</table>
		<div id="flotgrafiek" style="height: 300px;" />
		<script type="text/javascript">
		var dateParts = new RegExp("([0-9]{2,4})-([0-9]{1,2})-([0-9]{1,2}) ([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})");
		
		function djangoDateToJS(src){
			try{
				var date = dateParts.exec(src);
			
				return new Date(date[1], date[2], date[3], date[4], date[5], date[6]);
			} catch(e){
				return new Date();
			}
		}
		
		{% autoescape off %}
			benchmarkData = {{ benchjson }}
			modelData = {{ modeljson }}
		{%  endautoescape %}
		
		var models = {};
		var datasets = {};
		
		for(i in modelData){
			var name = modelData[i].fields.name;
			var pk = modelData[i].pk;
			
			models[pk] = name;
			
			datasets[pk] = {
				label:	name,
				data: []
			}
		}
		delete modelData;
		
		
		
		for(i in benchmarkData){
			row = benchmarkData[i];
			model = row.fields.model;
			
			var time = djangoDateToJS(row.fields.date_time).getTime();
			var mem = row.fields.memory_VSIZE;
						
			datasets[model].data.push([time, mem]);
			datasets[model].data.push([time + 3600, mem + 0.1*mem]);
			datasets[model].data.push([time + 7200, mem + 0.13*mem]);
		}
		delete benchmarkData;
		
		var data = [];
		for(i in datasets){
			data.push(datasets[i]);
		}
		delete datasets;
		
		var options = {
			xaxis: {
				mode: "time",
				timeformat: "%d %b %y"
			},
			legend: {
				show:	false
			}
		};
		$(function(){
			$.plot($("#flotgrafiek"), data, options);
		});
		</script>
		<p><a href="/compare/model/{{ comparison.id }}?auth={{ comparison.hash }}">Permalink</a></p>
		
		<form action="/compare/model/{{ comparison.id }}/export" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Export" />
		</form>
{% endblock %}