#Ignore compiled python
*.pyc
#db journal file, created by calls to the db that fail
*.db-journal
*.db
*.db.orig
#Project and temp files from UltraEdit
*.prj
*.pui
*.bak
#temp files for gedit
*~
#ignore these folders:
#location for all git interaction:
git/
#location for logs:
logs/
#settings.py
*settings.py
cwd
cwd/*
