<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

      <!-- Framework CSS -->
      <link href="{{ MEDIA_URL }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <link href="{{ MEDIA_URL }}css/print.css" media="print" rel="stylesheet" type="text/css" />
      <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css" />
      <link href="{{ MEDIA_URL }}css/token-input.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.hoverIntent.minified.js"></script>
      <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/functions.js"></script>
      <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.tokeninput.js"></script>
	  {% block head %}{% endblock %}

	  <!--[if IE]><link href="{{ MEDIA_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->      	
			<title>{% block title %}Benchmarking Analysis Toolkit{% endblock %}</title>	
      
      <!-- Import fancy-type plugin. -->

      <!-- application specific css -->
      <link href="{{ MEDIA_URL }}css/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <!-- scripts (YUI) -->
  </head>
  <body>
	<!-- HEADER -->
	<div class="top">	
		<div class="container">
			<div id="header" class="span-24 last">
				<div class="span-14">
					<a href="/"><img alt="BeAT logo" src="{{ MEDIA_URL }}img/beat_logo.png" /></a>
				</div>
				<!-- USER PANEL -->
				<div class="span-10 last">
					<ul>	
						{% if user.is_staff %}
							<li><a href="/admin/">Admin</a></li>
						{% endif %}
						
						{% if user.is_authenticated %}
							<li><a href="{%url django.contrib.auth.views.logout_then_login %}">Log out</a></li>
						{% else %}
							<li><a href="#">Register</a></li>
							<li><a href="{%url django.contrib.auth.views.login %}?next=/">Log in</a></li>
						{% endif %}				
					</ul>
				</div>
				<!-- END USER PANEL -->
			</div>
		</div>
	</div>
	<!-- END HEADER -->
	
	<!-- MAIN CONTENT -->
	<div id="maincontainer" class="container"><!-- blueprint body container -->  
		<div class="content span-24">	
		{% block structure %}
			
				<div class="span-10">
					<div class="blok">
						<h3>Be<i>AT</i></h3>
						<p>
							FormalMethodsTools has developed a toolkit to evaluate software on a cluster of machines. This toolkit includes a scheduler. The toolkit produces a lot of data, most importantly the run time, the amount of required memory, the number of states and the amount of transitions. Apart from this, they cluster hardware varies, as well as the OS and so on. The most important goal of the project is to keep track of this kind of data.
						</p>
						<p>
The data that is produced, is currently inserted into a database by hand. This process has to be automated.
Also, there are new requirements to gather more data and the database needs to be extensible such that results can be compared with third-party tools (assuming these tools produce similar data). We have expressed the desire to incorporate this from the start of the project.
Since we build a new database, we need to create a module to collect and format the data such that it can be placed in this database. We have not yet discussed the transition between the old and new database. This module should also be able to detect anomalies in the data, such as the fact that a program was shut down by the batch scheduler, had a segmentation fault or crashed otherwise. 
						</p>
						<p>
The second aspect of the system is the user-interface. The project owner wants this to go through a web-interface. It has been decided to be done with Python, using the Django framework. This interface should allow the user to examine the raw data, as well as information deduced from the raw data (such as averages, accuracy estimates, plots and charts). If possible, we should build a module that allows the user to export this information to a format that can quickly be incorporated into a research paper. The plots and charts should allow for both comparison between pieces of software and for a regression-like examination (ie. to see changes over a series of versions of the same piece of software).
						</p>
					</div>
				</div>
				<div class="span-8">
					<div class="blok">
						<h3>Latest Graph.</h3>
						<img src="{{ MEDIA_URL }}img/scatterplot.png" width="100%" />
					</div>
					<div class="blok">
						<h3>Latest imported logs</h3>
						<table border="1">
							<tr>
								<th>Model</th>
								<th>States</th>
								<th>Runtime</th>
								<th>Memory (RSS)</th>
								<th>Finished</th>
							</tr>
						{% for b in benches %}
						 <tr>
							<td>{{ b.model }}</td>
							<td>{{ b.states_count }}</td>
							<td>{{ b.total_time }}</td>
							<td>{{ b.memory_RSS }}</td>
							<td>{{ b.finished }}</td>
						</tr>
						{% endfor %}
						</table>
					</div>
				</div>
			
		{% endblock %}
			<!-- SIDEBAR -->
			<div class="span-6 sidebar last " id="sidebar">
				{% block sidebar %}
				<h1>Navigation</h1>
				<ul>
					<li><a href="{% url benchmarks.views.index %}">Index</a></li>
					<li><a href="{% url benchmarks.views.benchmarks %}">Benchmarks</a></li>
					<li><a href="{% url comparisons.views.compare_scatterplot %}">Compare tools</a></li>
					<li><a href="{% url comparisons.views.compare_model %}">Compare models</a></li>
					<li><a href="{% url jobs.views.jobgen %}">New Job</a></li>
					<li><a href="{% url benchmarks.views.colophon %}">Colophon</a></li>
					<li><a href="{% url benchmarks.views.tool_upload %}">Tool upload</a></li>
				</ul>
				{% if user.is_authenticated %}
				<h1>Personal content</h1>
				<ul>
					<li><a href="{%url benchmarks.views.user_comparisons %}">My comparisons</a></li>
					<li><a href="{%url jobs.views.user_jobs %}">My jobs</a></li>
				</ul>
				{% endif %}
				{% endblock %}
			</div>
			<!-- END SIDEBAR -->
		</div>
	</div>
	<!-- END MAIN CONTENT -->
	
	<div class="clear last" id="footer"><!-- footer -->
		Benchmark Analysis Toolkit - &copy; University of Twente, 2010
	</div>
  </body>
</html>
