{% extends "base_site.html" %}
{% block title%}Colophon{% endblock %}
{% block content %}
		<h2>Colophon</h2> 
					<p>
					Developed for the <a href="http://fmt.cs.utwente.nl/tools/ltsmin/">LTSmin</a> project of the <a href="http://fmt.cs.utwente.nl/">FMT</a> group at the <a href="http://www.utwente.nl/">University of Twente</a>.
					</p>
					<p>
					Made as part of the Design Project.
					</p>
					<p>
				       	Created by: Richard Cornelissen, Rens van der Heijden, Mattijs Hofstra, Edwin Keijl, Ties de Kock and Remco Swenker. 
					</p>
					<p>
					Made for <a href="http://wwwhome.cs.utwente.nl/~michaelw/">Michael Weber</a>
					</p>
					<p>
					Running on: <a href="http://www.python.org">Python 2.6</a> using <a href="http://www.djangoproject.com/">Django 1.2</a> and <a href="http://matplotlib.sourceforge.net/">Mathplotlib</a>. Also using <a href="http://packages.python.org/GitPython/intro.html">GitPython</a>, <a href="http://samba.org/~jelmer/dulwich/">Dulwich</a> and <a href="http://jquery.com/">JQuery</a>.
					</p>
{% endblock %}
