{% extends "base_site.html" %}
{% block title %}My Comparisons{% endblock %}
{% block content %}
		<h2>My Comparisons</h2>
		<h3>Benchmarks</h3>
		{% if b_comparisons %}
		<ul>
			{% for b in b_comparisons %}
				<li>
					<a href="{% url detail_benchmark id=b.id %}?auth={{ b.hash }}">{{ b }}</a> 
					- ({{ b.date_time|date:"SHORT_DATE_FORMAT" }} - {{ b.date_time|time:"H:i" }})
					- <a href="{% url delete_benchmark id=b.id %}">delete</a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<p>No comparisons found</p>
		{% endif %}
		
		
		<h3>Models</h3>
		{% if m_comparisons %}
		<ul>
		{% for m in m_comparisons %}
			<li>
				<a href="{% url detail_model id=m.id%}?auth={{ m.hash }}">{{ m }}</a> 
				- ({{ m.date_time|date:"SHORT_DATE_FORMAT" }} - {{ m.date_time|time:"H:i" }})
					- <a href="{% url delete_model id=m.id %}">delete</a>
			</li>
		{% endfor %}
		</ul>
		{% else %}
			<p>No comparisons found</p>
		{% endif %}
		
{% endblock %}