<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Filtered Table Test</title>
        <link rel="stylesheet" type="text/css" href="./style/style.css">
    </head>
    <body>
        <div class="container">
            <div class="scroll">
                <form name="filterform" id="filterform" action="">
                    <table style="width:480px" id="filters" cellpadding="0" cellspacing="0">
                        <tr id="filterrow_0">
                            <td width="320" align="left">
                                <select size="1" class="filterAt" onchange="changedFilter(this);">
                                    <option value="-1">&lt;empty&gt;</option>
                                    <option value="0">Name</option>
                                    <option value="1">Date</option>
                                    <option value="2">Memory</option>
                                    <option value="3">Runtime</option>
                                    <option value="4">Options</option>
                                </select>
                                <ul class="mega">
                                    <li class="mega">
                                        <select size="1" class="filterWith" onchange="changedFilter(this);">
                                            <option value="-1">&lt;empty&gt;</option>
                                        </select>
                                    </li>
                                </ul>
                                <input type="text" class="filterOn" onchange="changedFilter(this);">
                            </td>
                            <td align="right" style="width:160px">
                                <a class="add" id="add_0"><img src="./style/img/add_filter.png" alt="add"></a>
                            </td>
                        </tr>
                    </table>
                </form>
                <table class="benchmarks">
                    <tr>
                        <th>Model</th>
                        <th>States</th>
                        <th>Runtime</th>
                        <th>VSize</th>
                        <th>Finished</th>
                    </tr>
                    <tr>
                        <td>train-gate.7</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.8</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.9</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.10</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.11</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.12</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>train-gate.13</td>
                        <td>147507</td>
                        <td>1234</td>
                        <td>634562345</td>
                        <td>true</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
        <script type="text/javascript" language="javascript" src="./jquery.js"></script>
        <script type="text/javascript" language="javascript" src="./FilteredTable.js"></script>
</html>