body{
	background: #ddd;
}

/* witte tekst in header, hoogte instellen. Volle breedte van pagina */
#header {
	color:			white;
	height:			30px;
	width:			100%;
}

/* link-kleur in header */
#header a {
	color: 			white;
}

/* li in de header zijn menu items */
#header li{
	display: inline-block;
	margin-right: 15px;
}


/* Overflow: hidden zodat de container meerekt met inhoud */
#maincontainer{
	overflow:		hidden;
}

.top{
	width:			100%;
	background:		#004e9e;
}

.content{
}

#notice{
	height: 			30px;
	text-align:		center;
	background:		#ff9;
	font-weight:	bold;
}

#footer{
	text-align:		center;
}

/* Sidebar styles */
.sidebar {
}

.sidebar h1{
	font-size: 20px;
}

.sidebar ul li, .sidebar ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.sidebaritem{
	margin: 10px 0;
	padding:	5px;
}

/*	Blokken met inhoud. Breedte wordt bepaald door de span-x style.
		Het enige wat we hier dus doen is de schaduw, padding */
.blok{
	-moz-box-shadow: 			5px 5px 5px #666;/* horizontal vertical spread #color */
	-webkit-box-shadow: 	5px 5px 5px #666;
	box-shadow: 					5px 5px 5px #666;
	background:						white;
	padding:							10px;
	margin:								5px 0px 15px 10px;
}