.scroll {
	height:40em;
	overflow: auto;
}
table.benchmarks {
	border-collapse:collapse;
	margin:0px;
	padding:0px;
}

.filterStyle{
	width: 120px;
}

.filterType, .filterValue, .optionValue{
	width: 80px;
}

#filters td, #filters tr, #filters th, #filters select, #filters input{
	margin:0px;
	padding:0px;
}

.remove img, .add img{
	border: none;
	cursor: pointer;
}

.benchmarks tr:nth-child(odd) {
	background-color: #eee;
}

.benchmarks td:first-child {
	background-color: #ddd;
}

.benchmarks tr:nth-child(odd) td:first-child {
	background-color: #ccc;
}
.benchmarks tr:hover {
	background-color: #aaa;
}

.benchmarks tr th {
	background: url('/site_media/img/gradient_bg.jpg') repeat-x top left;
	text-align:center;
}

.benchmarks tr td, .benchmarks tr th{
	border: 1px solid #ccc;
}

ul.mega{
	text-align: left;
	display: inline;
	padding: 0px;
	margin: 0px;
}

li.mega{
	display: inline;
	position: relative;
}

ul.mega li.mega div{
	display:none;
	border:1px solid black;
	background: white;
	width: 18em;
	height: 120px;
	overflow: auto;
	position: absolute;
	top: 1.2em;
	left: 0em;
	z-index: 100;
}
ul.mega li.mega div select{
	width:100%;
}

ul.mega li.hovering div {
	display: block;
}