h2.benchmarktitle{
	display:inline;
}

table.benchmarks {
	border-collapse:collapse;
	margin:0px;
	padding:0px;
}

table.paging{
	border-collapse:collapse;
}

table.paging tr td{
	background-color: #eee;
	border: 1px solid #ccc;
}

#next,#previous,#last,#first{
	text-align: center;
	cursor:pointer;
	padding: 0px;
}

#next img, #previous img, #last img, #first img{
	padding: 0px;
}

#paginginfo{
	padding: 0px 0px 0px 30px;
	font-weight: bold;
}

#pagesize{
	text-align: right;
	margin: 0px;
}

.filterStyle{
	width: 80px;
}

.filterType{
	width: 120px;
}

.filterValue, .optionValue{
	width: 80px;
}

#filters{
	width: 400px;
	display: inline;
	margin-bottom: 0px;
	padding-left : 20px;
	padding-right: 20px;
}

#filters td, #filters tr, #filters th, #filters select, #filters input{
	margin:0px;
	padding:0px;
	vertical-align: top;
}

#multisort{
	display:inline;
	margin-bottom: 0px;
	line-height: 1;
}

#multisort td, #multisort tr, #multisort select, #multisort input{
	margin:0px;
	padding: 0px;
	vertical-align: top;
}

#multisort td.columnname select{
	width: 150px;
}

#multisort td.sortorder select{
	width: 80px;
}

.remove img, .add img{
	border: none;
	cursor: pointer;
}

table.benchmarks tr td:nth-child(n+2){
	cursor: pointer;
}

.benchmarks tr:nth-child(odd){
	background-color: #eee;
}

.benchmarks td:first-child {
	background-color: #ddd;
}

.benchmarks tr:nth-child(odd) td:first-child {
	background-color: #ccc;
}

.benchmarks tr:nth-child(even) {
	background-color: #fff;
}

.benchmarks tr:hover {
	background-color: #aaa;
}

.benchmarks tr th {
	background: url('/site_media/img/gradient_bg.jpg') repeat-x top left;
	text-align:center;
}

.benchmarks tr td, .benchmarks tr th{
	border: 1px solid #ccc;
}

span.ascending, span.descending{
	background-repeat: no-repeat;
	background-position: top center;
	padding-top:5px;
}

span.ascending{
	background-image: url('/site_media/img/sort_ASC.png');
}

span.descending{
	background-image: url('/site_media/img/sort_DESC.png');
}

#sidebar ul, #sidebar h1{
	margin-bottom: 10px;
}

ul.mega{
	text-align: left;
	display: inline;
	padding: 0px;
	margin: 0px;
	min-width: 130px;
}

li.mega{
	display: inline;
	position: relative;
	border: 1px solid #bbb;
	width: 130px;
}

ul.mega li.mega div{
	display:none;
	border:1px solid black;
	background: white;
	width: 18em;
	height: 180px;
	overflow: auto;
	position: absolute;
	top: 1.2em;
	left: 0em;
	z-index: 100;
	margin-bottom: 20px;
}

ul.mega li.mega div select{
	width:100%;
}

ul.mega li.hovering div {
	display: block;
}

#csvform{
	display: inline;
}

/* COMPARE FORM */

table.compare_form  select {
	width:100%;
}

.titlecell {
	background-color: #ddd;
	text-align: center;
	font-weight: bold;
	color: #000;
}
.vtop {
	vertical-align: top;
}

.filtersandmultisort{
	border-left: #BBB 2px solid;
	border-right: #BBB 2px solid;
	border-top: #BBB 2px solid;
	padding-top: 11px;
	padding-bottom: 12px;
}

#columns{
	color: black;
}
#megaul_columns{
	min-width: 130px;
}
#megali_columns{
	color: #555;
	padding-right: 40px;
}